body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    height:10vh;
}

.info li {
    list-style: none;
    margin-left: -40px;
    color: white;
}

.info p {
    display: inline;
    vertical-align: super;
    margin-left: 5px;
}

header h2 {
    margin: 0;
    font-size: 22px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 70px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(255,204,0);
    font-weight: bold;
}

section {
    padding: 50px;
    max-width: 1400px;
    margin: auto;
}

#about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}




#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    list-style: none;
}

#skills li {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

#skills img {
    width: 30px;
    margin-right: 10px;
}

.project {
    margin-bottom: 20px;
    padding: 15px;
    border-left: 4px solid #f39c12;
    background: #f9f9f9;
    border-radius: 5px;
}

.recommendation {
    margin-bottom: 15px;
    padding: 15px;
    font-style: italic;
    background: #eef;
    border-radius: 5px;
}


textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#home-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    background: #f39c12;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    text-decoration: none;
}

#home-icon:hover {
    background: #333;
}



